<div class="card">
    <div class="card-header text-white bg-dark text-center">
        Categorías
    </div>
    <div class="card-body">
        <mat-form-field>
            <mat-label>Elegir categoría</mat-label>
            <mat-select>
                <mat-option (click)="agregarCategoria(categoria)" *ngFor="let categoria of categorias" [value]="categoria.nombre">{{categoria.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-chip-list *ngFor="let categoria of categoriasSelec">
            <mat-chip [selectable]="selectable" (removed)="remove(categoria)">
                {{categoria.nombre}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>