<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4 my-5">
            <img [src]="producto.imagen" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
                <p class="card-text"><small class="text-success">{{producto.precio | currency}}</small></p>
                <button class="btn btn-sm btn-block btn-outline-primary">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>