@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.material-icons {
    font-size: 25px;
}

.text-nav {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    color: #a0a1a1;
}

.navbar {
    box-shadow: 0px 0px 2px 5px gray;
}